body {
    /*text-align: center;*/
    padding: 2% 5% 0% 5%;
    font-family: "Red Hat Display";
    /* padding: top, right, bottom, left */
}

.heading {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-style: normal;
}

.left {
    text-align: left;
}

a {
    text-decoration: none;
}

td {
    padding-right: 50px;
}